header {
  position: fixed;
  top: 0;
  width: 100%;
  padding-inline: 1rem;
  transition: background 0.3s ease;
  z-index: 1000;
  height: 80px;
}
header.scrolled {
  background: rgba(245, 212, 220, 0.5);
  box-shadow: 0 2px 20px rgba(163, 129, 140, 0.9);
  backdrop-filter: blur(10px);
}
.header__container {
  display: flex;
  align-items: center;
  margin: 1rem auto;
  justify-content: space-between;
  max-width: var(--width-container);
  position: relative;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: transform ease-in-out 0.3s;
}
.header__logo:hover {
  transform: scale(1.1);
}
.header__logo img {
  width: 50px;
}
.logo__title {
  color: var(--color-text);
  font-size: 1.5rem;
  font-weight: 700;
}
.menu-hamburguer img {
  width: 40px;
  transition: opacity 0.3s ease;
  margin-left: auto;
}
.menu-hamburguer.active img {
  content: url("../assets/close.svg");
}

.nav__list {
  position: absolute;
  right: 0;
  top: 40px;
  text-align: right;
  z-index: 1000;
  display: none;
  border-radius: var(--border-radius-sm);
}
.nav__list.active {
  display: block;
}
.nav__list-item {
  font-size: 1.25rem;
  color: var(--color-text);
  padding: 0.25rem 1rem;
  border-radius: var(--border-radius-sm);
  display: block;
  position: relative;
}
.nav__list-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  transition: ease-in-out 0.3s;
}
.nav__list-item:hover {
  color: var(--color-primary);
}
.nav__list-item:hover::after {
  width: 100%;
}
.nav__contato {
  display: none;
  border-radius: var(--border-radius-sm);
  transition: ease-in-out 0.3s;
  background-color: var(--color-cta);
  color: var(--color-text-light);
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
}
.nav__contato:hover {
  transform: translateY(-4px);
  background-color: var(--color-cta-hover);
}
@media (width >=768px) {
  .nav__list {
    display: flex;
    position: sticky;
    background: transparent;
    gap: 1rem;
  }
  .menu-hamburguer {
    display: none;
  }
  .nav__contato {
    display: block;
  }
}
